<!DOCTYPE html>
<html>

<head>
    <title>Studio Lovelies - About</title>
    <meta name="description" content="Welcome to Studio Lovelies!">
    <meta name="theme-color" content="#00adef">
    <link rel="icon" href="assets/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/css/default.css" type="text/css">
    <script src="assets/js/default.js"></script>
    <script src="assets/js/tally.js"></script>

</head>

<body onload="onLoad();">
    <div class="header">
        <div class="logo" onclick="window.location.href='/'">
            <img id="studioLovelies-logo" width="100" alt="Transparent logo" src="assets/images/logo-transparent.png">
            <img id="studioLovelies-text" width="250" src="assets/images/studio-lovelies.png">
        </div>
        <div class="navbar">
            <ul class="navlist">
                <li><a href="/"><span>Home</span></a></li>
                <li class="current"><a href="/about"><span>About</span></a></li>
                <li><a href="/projects"><span>Projects</span></a></li>
                <li><a href="/contact"><span>Contact</span></a></li>
            </ul>
        </div>
    </div>

    <div class="spacer-100"></div>
    <div class="spacer-100"></div>
    <div class="spacer-50"></div>

    <div class="container card center whoWeAre" style="width: 60%; height: 80vh; margin: auto;">
        <h1>Who we are</h1>
        <h2>Founder</h2>
        <h3>CreatrixTiara (<a href="https://creatrixtiara.com/" target="_blank">https://creatrixtiara.com/</a>)</h3>
        <h2>Project Management</h2>
        <h3>Anasthera (Anasthera#8523)</h3>
        <h2>Discord Management</h2>
        <h3>Manuel "<a href="/epik" style="text-decoration: none">Epik</a>" Guevara</h3>
        <h2>Social Media and Brand Management</h2>
        <h3>Xavier "Savior of the Eggs" Greene (<a href="https://www.flowcode.com/page/savioroftheeggs" target="_blank">flow.page/savioroftheeggs/</a>)</h3>
        <h2>YouTube Channel Management</h2>
        <h3>Benudi (Benudi#3236)</h3>
        <h3>Hollie "Koda NootNoot" (<a href="https://twitter.com/kodaplanetearth" target="_blank">@kodaplanetearth</a>)</h3>
        <h2>Programming Team</h2>
        <h3>Isaac "cunt" Laquerre (<a href="https://isaaclaquerre.ca" target="_blank">isaaclaquerre.ca</a>)</h3>
        <h3>alipapapupu</h3>
        <h3>Caco (Caco#2702)</h3>
        <h3>Kcatgirl / Amythia</h3>
        <h3>moths</h3>
        <h3>NotExplosive</h3>
        <h3>Rensei</h3>
        <h3>ViMaSter</h3>
        <h2>Writing Team</h2>
        <h3>Anasthera</h3>
        <h3>Evan "HyperTurtle77" Hall</h3>
        <h3>Flamryn</h3>
        <h3>Gof / King Peggy</h3>
        <h3>Hollie "Koda NootNoot"</h3>
        <h3>Joshua "Fatalismus" (<a href="https://twitter.com/SFatalismus" target="_blank">@SFatalismus</a>)</h3>
        <h3>JustChad (<a href="https://twitter.com/JustChadTweets" target="_blank">@JustChadTweets</a>)</h3>
        <h3>Mr.Tiddlesby</h3>
        <h3>PartZebra</h3>
        <h3>Pippy in a Top Hat</h3>
        <h3>SammieAuburn</h3>
        <h3>SoupBoi</h3>
        <h3>Milf of Viagra Falls (kythebumblebee#6969)</h3>
        <h3>Xavier "Savior of the Eggs" Greene</h3>
        <h2>Art Team</h2>
        <h3>Discodur0</h3>
        <h3>Gof / King Peggy</h3>
        <h3>-Sakuragi-</h3>
        <h3>𝖩𝗈𝗌𝗁</h3>
        <h3>finchfish</h3>
        <h3>FruitLaFruit</h3>
        <h3>Lion_soul</h3>
        <h3>Magpie</h3>
        <h3>Magnanimousmilk</h3>
        <h3>MollyTheAngel</h3>
        <h3>mrdespondency</h3>
        <h3>Nohomomilo</h3>
        <h3>Oweeo</h3>
        <h3>SammieAuburn</h3>
        <h3>Savior of the Eggs</h3>
        <h3>Trash Boi (<a href="https://linktr.ee/LoverBoiArt" target="_blank">linktr.ee/LoverBoiArt</a>)</h3>
        <h3>Worldofwuzie</h3
        <h2>Music Team</h2>
        <h3>Akkelby</h3>
        <h3>Benudi</h3>
        <h3>Finn Cohen (CriminalSquid#7575)</h3>
        <h3>Jape Falcon</h3>
        <h3>SavestateCorrupted</h3>
        <h2>Composing Team</h2>
        <h3>Akkebely</h3>
        <h3>Benudi</h3>
        <h3>CriminalSquid</h3>
        <h3>Jape Falcon</h3>
        <h3>Savestate Corrupted</h3>
        <h3>Debrikalis / Zewatara</h3>
        <h2>Game Design</h2>
        <h3>Flamryn</h3>
        <h3>CreatrixTiara</h3>
        <h3>CriminalSquid</h3>
        <h3>Knightmare</h3>
        <h3>NightRoost</h3>
        <h3>PipPipCheerio</h3>
    </div>

    <div class="spacer-100"></div>

    <div class="spacer-100"></div>
    <div class="spacer-100"></div>
    <div class="spacer-50"></div>

    <div class="footer">
        <ul style="list-style-type: none;">
            <li><a href="/contact">Contact</a></li>
            <li><a href="https://redbubble.com/people/studio-lovelies/shop" target="_blank">Merch</a></li>
            <li><a href="https://www.youtube.com/channel/UC4NFhIl0Q6wacaIpujy1p7Q" target="_blank">YouTube</a></li>
            <li><a href="https://twitter.com/studiolovelies" target="_blank">Twitter</a></li>
        </ul>
        <div class="center copyright"><span>Copyright © Studio Lovelies <span class="copyright-year">2021-2023</span> - All rights reserved | Website by <a href="https://isaaclaquerre.ca" target="_blank" style="text-decoration: underline;">Isaac Laquerre</a></span></div>
    </div>
    <div class="mobile-footer">
        <ul style="list-style-type: none;">
            <li><a href="/contact">Contact</a></li>
            <li><a href="https://redbubble.com/people/studio-lovelies/shop" target="_blank">Merch</a></li>
            <li><a href="https://www.youtube.com/channel/UC4NFhIl0Q6wacaIpujy1p7Q" target="_blank">YouTube</a></li>
            <li><a href="https://twitter.com/studiolovelies" target="_blank">Twitter</a></li>
        </ul>
        <div class="center copyright"><span>Copyright © Studio Lovelies <span class="copyright-year">2021-2023</span> - All rights reserved | Website by <a href="https://isaaclaquerre.ca" target="_blank" style="text-decoration: underline;">Isaac Laquerre</a></span></div>
    </div>
</body>

<script>
    onresize = function() {
        checkScreenWidth();
    }

    function onLoad() {
        checkScreenWidth();
    }
</script>

</html>
