<!DOCTYPE html>
<html>

<head>
    <title>EPIK MOMENTO</title>
    <meta name="description" content="EPIK MOMENTO">
    <link rel="icon" href="assets/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/css/default.css" type="text/css">
    <script src="assets/js/default.js"></script>

</head>

<body>

    <div class="spacer-100"></div>
    <div class="spacer-100"></div>
    <div class="spacer-50"></div>

    <video style="width: 100%;" controls autoplay>
        <source src="assets/damedaepik.mp4">
    </video>

</body>

</html>