<!DOCTYPE html>
<html>

<head>
    <title>Studio Lovelies - Projects</title>
    <link rel="icon" href="assets/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/css/default.css" type="text/css">
    <script src="assets/js/default.js"></script>

</head>

<body>

    <div class="header">
        <div class="logo" onclick="window.location.href='/'">
            <img id="studioLovelies-logo" width="100" alt="Transparent logo" src="assets/images/logo-transparent.png">
            <img id="studioLovelies-text" width="250" src="assets/images/studio-lovelies.png">
        </div>
        <div class="navbar">
            <ul class="navlist">
                <li><a href="/"><span>Home</span></a></li>
                <li><a href="/about"><span>About</span></a></li>
                <li class="current"><a href="/projects"><span>Projects</span></a></li>
                <li><a href="/contact"><span>Contact</span></a></li>
            </ul>
        </div>
    </div>

    <div class="spacer-100"></div>
    <div class="spacer-100"></div>

    <div class="container card" style="width: 75%; height: 50vh; margin: auto; position: relative; overflow-y: auto;">
        <h1>Game Grumps: Joint Justice</h1>
        <h3>Meet your favorite YouTube duo in an intense<br />Ace Attorney-like game! Someone stole the 10<br />Minute Power Hour dinos, and only Arin & Dan<br />can figure out the culprit of this heinous crime<br />and save their friend Jory!</h3>
        <p><a style="color: white; text-decoration: underline;" href="https://www.youtube.com/watch?v=dAQUyvF43c4" target="_blank">See the trailer here</a></p>
        <p><a style="color: white; text-decoration: underline;" href="https://bit.ly/3gDrV6h" target="_blank">Download the game here</a></p>
        <p><a style="color: white; text-decoration: underline;" href="https://www.youtube.com/watch?v=lx7etjF26o4&list=PL-WsPLTPqtZKahRbISbDrw5t-JrmYjQsR" target="_blank">Game Grumps: Joint Justice OST</a></p>
        <img style="bottom: 10%; right: 0; width: 50%; margin: 0; padding: 0; position: absolute;" alt="GameGrumpsJointJustice" src="assets/images/GameGrumpsJointJustice.png">
    </div>
    
    <div class="spacer-100"></div>
    <div class="spacer-100"></div>
    <div class="spacer-100"></div>

    <div class="footer">
        <ul style="list-style-type: none;">
            <li><a href="/contact">Contact</a></li>
            <li><a href="https://redbubble.com/people/studio-lovelies/shop" target="_blank">Merch</a></li>
            <li><a href="https://www.youtube.com/channel/UC4NFhIl0Q6wacaIpujy1p7Q" target="_blank">YouTube</a></li>
            <li><a href="https://twitter.com/studiolovelies" target="_blank">Twitter</a></li>
        </ul>
    </div>

</body>

</html>